# Exercise 3.01: Predicting Risk of Credit Card Default (Loading the Dataset)

In this exercise, we will be loading a dataset into a pandas DataFrame and exploring its contents. We will use the dataset of German credit approvals to determine whether an individual presents a risk of defaulting.

  > The original dataset and information regarding the dataset can be found [here](https://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29).  
  > The data files are located [here](https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/).  
  > *Citation - Dua, D., & Graff, C.. (2017). UCI Machine Learning Repository*.

1.- Import the `pandas` package as `pd`

In [ ]:
import pandas as pd

2.- Create a new variable called file_url, which will contain the URL to the raw dataset file. Use the `data/german_credit.csv` file.

In [ ]:
#file_url= 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/Index'
file_url= 'http://invidio.drl.pl/files/german_credit.csv'
#file_url= 'data/german_credit.csv'

3.- Import the data using the `pd.read_csv()` method. This creates a new Data Frame object that contains the data.

In [ ]:
data_frame=pd.read_csv(file_url)

4.- Use `df.head()` to print the first five rows of the DataFrame

Output:

![Figure 3.2](img/fig3_02.jpg)

As you can see, the output in the preceding screenshot shows us the features of the dataset, which can be either numerical or categorical (text).

In [ ]:
data_frame.head()

   default  ... foreign_worker
0        0  ...            yes
1        1  ...            yes
2        0  ...            yes
3        0  ...            yes
4        1  ...            yes

[5 rows x 21 columns]

5.- Use `df.tail()` to print the last five rows of the DataFrame

Output:

![Figure 3.3](img/fig3_03.jpg)

The last rows of the DataFrame are very similar to the first ones we saw earlier, so we can assume the structure is consistent across the rows.

In [ ]:
data_frame.tail()

     default  ... foreign_worker
995        0  ...            yes
996        0  ...            yes
997        0  ...            yes
998        1  ...            yes
999        0  ...            yes

[5 rows x 21 columns]

6.- Use df.dtypes to print the list of columns and their data types

Output:

![Figure 3.4](img/fig3_04.jpg)

In [ ]:
data_frame.dtypes

default                        int64
account_check_status          object
duration_in_month              int64
credit_history                object
purpose                       object
credit_amount                  int64
savings                       object
present_emp_since             object
installment_as_income_perc     int64
personal_status_sex           object
other_debtors                 object
present_res_since              int64
property                      object
age                            int64
other_installment_plans       object
housing                       object
credits_this_bank              int64
job                           object
people_under_maintenance       int64
telephone                     object
foreign_worker                object
dtype: object